body {
	background: url("../img/banner.jpg") center top fixed no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #fff;
}
h1,h2,h3,h4,h5,h6,a,
input[type="button"]
input[type="submit"]
input[type="reset"] {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
b {
	font-weight: 700;
}

.wrap {
	background: url("../img/overlay.png")  center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

/* Major */
header.ba-major {
    text-transform: uppercase;
    margin-bottom: 59px;
}
.ba-major h2 {
    font-size: 46px;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #484848;
    margin-bottom: 41px;
}
.ba-major h2+p {
    font-size: 22px;
    color: rgb(170, 170, 170);
    margin-top: -30px;
}

/* Grid */
.ba-grid {
    margin-left:-44px;
    *zoom: 1;
}
.ba-grid > [class*="ba-width"] {
    float:left;
    padding-left: 44px;
}

/* Header */
.ba-header-main {
	position: absolute;
	top: 60px;
	left: 45px;
	right: 45px;
}
.ba-header-main h1 {
	float: left;
	font-size: 18px;
	line-height: 18px;
	padding: 0;
}
.ba-nav-main {
	float: right;
	letter-spacing: 1px;
}
.ba-nav-main li {
	display: inline-block;
	margin-left: 45px;
}
.ba-nav-main a {
	display: block;
	color: #ddd;
	transition: color 0.2s ease-in-out;
}
.ba-header-main a:hover {
	color: #fff;
}

/* Banner */
.ba-banner {
	padding: 240px 0 190px 0;
	text-align: center;
	text-transform: uppercase;
}
.ba-banner h2 {
	font-size: 50px;
	line-height: 60px;
	font-weight: bold;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.ba-banner p {
	font-size: 22px;
	line-height: 38px;
	color: #aaa;
	margin-bottom: 38px;
}

/* Action buttons in a row */
.actions {
	vertical-align: middle;
}

[class|="ba-button"] {
    display: block;
	height: 62px;
	width: 220px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 62px;
	font-weight: bold;
	background-color: #f32853;
	border-radius: 4px;
	color: #fff;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.ba-button-black {
    background-color: #323037;
}
.ba-button:hover {
	background-color: #f44066;
}
.ba-button-black:hover {
    background-color: #3e3c45;
}

/* White section */
.ba-section-white {
    color: rgb(102, 102, 102);
    background-color: #fff;
    padding: 6em 0 4em 0;
}
.ba-section-white p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 32px;
}

/* Cream section */
.ba-section-cream {
    background-color: #f6f6f6;
    text-align: center;
}
.ba-section-cream {
    padding: 88px 0 59px 0;
    margin-bottom: 59px;
}
.ba-section-cream .ba-picture h3 {
    display: block;
    width: 100%;
    color: #484848;
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;
    padding: 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 3px 0;
}
.ba-picture img {
    width: 100%;
}